html,
body,
#app {
  margin: 0;
  padding: 0;
  color: #333333;
  background-color: #eeeeee;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}
.el-menu.el-menu--horizontal {
  border-bottom: solid 1px #29282e;
}
.el-menu-item a {
  color: #2d82f0;
  display: inline-block;
  width: 100%;
  text-decoration: none;
}
.el-select {
  width: 100%;
}
.el-table {
  margin-bottom: 20px;
}
.el-table th,
.el-table tr,
.el-table td {
  text-align: center;
}
.el-table th {
  height: 60px;
}
.el-table td {
  height: 90px;
}
.el-table th {
  background: #eeeeee;
}
.el-radio,.inputarea_check{
  width: 75px;
}
.el-card {
  margin-bottom: 20px;
}
.el-progress {
  width: 180px;
}
.el-date-editor.el-input,
.el-date-editor.el-input__inner {
  width: 100%;
}
.radio_frame,.el-checkbox-group {
  padding: 12px;
}
.el-form-item{
  margin-bottom: 0;
}
.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  .page {
    width: 100%;
    display: flex;
    height: 100%;
    .fix_sider {
      position: fixed;
      top: 20px;
    }
    .siderbar,
    .siderbar1 {
      width: 280px;
      z-index: 99;
      .sider_item {
        height: 60px;
        background-color: #fff;
        text-align: center;
        line-height: 60px;
        color: #666666;
        &:hover {
          color: #fff;
          background-color: #2d8cf0;
        }
      }
      .isActive {
        color: #fff;
        background-color: #2d8cf0;
      }
    }
    .left_all {
      width: 280px;
      margin-right: 20px;
      .left_slider {
        font-size: 18px;
        width: 280px;
        .submit_all_btn {
          text-align: center;
          padding: 20px;
        }
      }
    }

    .mainer {
      width: 1200px;
      padding: 20px;
      margin-bottom: 50px;
      box-sizing: border-box;
      background-color: #fff;
      .title {
        padding-left: 20px;
        font-size: 18px;
        font-weight: 500;
        color: #2d8cf0;
        margin-bottom: 20px;
      }

      .marginb20 {
        margin-bottom: 20px;
      }
      .approvelItem {
        position: relative;
        p {
          font-size: 14px;
          margin: 0px;
          margin-bottom: 10px;
        }
        .includeRate {
          display: flex;
          justify-content: space-between;
          .ratePercent {
            display: flex;
            justify-content: space-between;
            .el-progress {
              top: -5px;
            }
          }
        }
        .approvelGoDetail {
          position: absolute;
          padding: 10px 30px;
          right: 20px;
          bottom: 30px;
        }
      }
      .approvelItem1 {
        .el-card__body{
          display: flex;
          .approvelItemCheck{
            width: 20px;
          }

        }
      }
      .item_label {
        line-height: 40px;
        font-size: 14px;
        color: #333333;
        .necessary_signal {
          color: #f22b0d;
          font-size: 20px;
          position: relative;
          top: 6px;
          left: 8px;
        }
      }
      .item_margin {
        margin-bottom: 20px;
      }
      .title_small {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        font-weight: 500;
        color: #2d8cf0;
        margin-bottom: 15px;
      }
      .alert_icon {
        line-height: 40px;
        font-size: 20px;
        color: #2d8cf0;
        text-align: center;
      }
    }
  }
}
.backup {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  background-color: #f2f5f6;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
  text-align: center;
  line-height: 40px;
  color: #1989fa;
}
.backup_show {
  display: block;
}

.submitArea {
  text-align: right;
  .submitArea_row {
    margin-top: 15px;
  }
}
.el-badge__content.is-fixed {
  z-index: 10;
}
