html,body,#app{
    margin: 0;
    padding: 0;
    height: 100%;
}
.el-menu.el-menu--horizontal {  
    border-bottom: solid 1px #29282e;
}
.el-menu-item a{
    color: #2D82F0;
    text-decoration: none;
}
